<h1>Sobre el comic</h1>
<hr />
<p>

    En los cómics de superhéroes ya se podían observar sus motivaciones antifascistas mucho antes de que EEUU entrara en guerra en el año 1941. Las dos compañías más importantes del país, DC COMICS y la que posteriormente se conocería como MARVEL COMICS,
    reconducirían sus temáticas y argumentos habituales hacia la actualidad del momento. Sus personajes dejarían de lado su lucha contra súper-villanos y mafiosos para combatir a nazis y japoneses.
    <br /> Sirva como ejemplo, antes de la entrada de los EEUU en el conflicto, como la MARVEL utilizaría a uno de sus personajes como abanderado del sentimiento anti-nazi: el Capitán América. En sus orígenes el Capitán América era un soldado del ejército
    estadounidense que se ofrece voluntario para un programa para convertir súper-soldados. Tras ser sometido al tratamiento con éxito el laboratorio sufre el ataque del villano conocido como Cráneo Rojo, el cual vestía un uniforme con el símbolo nazi,
    convirtiéndose en el archienemigo del Capitán América. Simbolizando así quién era en realidad la mayor amenaza.




</p>

<br>

<div class="comics">
    <img src="../../assets/img/comics.jpg" class="img-responsive" alt="">
</div>