<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 left ">Video</h1>
        <!-- <p class="lead marg">MARVEL & DC</p> -->
        <br>
        <p>Compartimos contigo un video de Hulk VS Thor</p>
        <p>
            Disfrutalo.</p>
        <div class="iframe">
            <iframe class="comics centrar" width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/' " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <br><br>
        <h3>¿Quién es mas fuerte?</h3>
        <p>

            Para responder esto debemos ver los antecedentes de estos dos héroes, además de que tienen diferentes versiones, renacemos. Thor es un semidiós de la mitología nórdica, tiene el poder del trueno y del rayo, tiene súper fuerza que se incrementa con su
            martillo, el cual tiene el poder de odin el cual es muy poderoso solo hay que ver como dejo a galactus</p>

    </div>

    <br>


</div>