<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 centrar">Peliculas</h1>
        <p class="lead centrar">MARVEL & DC</p>
        <div class="comics centrar">
            <img src="../../assets/img/Marvel-vs-DC1.jpg" class="img-responsive" alt="">
        </div>
        <table class="centrar">
            <tr>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item active">Marvel.</li>
                        <li class="list-group-item">Avengers</li>
                        <li class="list-group-item">Black Panther</li>
                        <li class="list-group-item">Spider-Man</li>
                        <li class="list-group-item">Capitán América</li>
                        <li class="list-group-item">Iron Man</li>
                        <li class="list-group-item">El Increíble Hulk</li>
                        <li class="list-group-item">Thor: El Mundo Oscuro</li>
                        <li class="list-group-item">Guardianes de la Galaxia</li>
                    </ul>


                </td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item active">DC.</li>
                        <li class="list-group-item">Wonder Woman</li>
                        <li class="list-group-item">Joker</li>
                        <li class="list-group-item">Aquaman</li>
                        <li class="list-group-item">El Hombre de Acero</li>
                        <li class="list-group-item">Batman VS Superman: El Amanecer de la Justicia</li>
                        <li class="list-group-item">Escuadrón Suicida</li>
                        <li class="list-group-item">Liga de la Justicia</li>
                        <li class="list-group-item">Shazam!</li>
                    </ul>
                </td>
            </tr>

        </table>

    </div>

    <br>


</div>